<div class="dashboard-container">
    <header class="dash-header">
        <h1>As Minhas Viagens</h1>
        <p>Cria um itinerário global e começa a planear.</p>
    </header>

    <main class="grid-container">
        <div class="card add-card" (click)="toggleAddForm()" *ngIf="!showAddForm">
            <span class="icon">+</span>
            <h3>Novo Itinerário</h3>
        </div>

        <div class="card form-card" *ngIf="showAddForm">

            <div class="custom-input-group">
                <span class="input-icon">✈️</span>
                <input type="text" [(ngModel)]="newItineraryName" placeholder="Ex: Eurotrip 2024"
                    (keyup.enter)="createItinerary()" autofocus>
            </div>

            <div class="custom-dates-group">
                <div class="date-field">
                    <label>🛫 Início</label>
                    <div class="date-wrapper">
                        <input type="date" [(ngModel)]="newItineraryStart">
                    </div>
                </div>
                <div class="date-field">
                    <label>🛬 Fim</label>
                    <div class="date-wrapper">
                        <input type="date" [(ngModel)]="newItineraryEnd">
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button class="btn-cancel" (click)="toggleAddForm()">Cancelar</button>
                <button class="btn-save" (click)="createItinerary()"
                    [disabled]="newItineraryName.length < 2 || !newItineraryStart || !newItineraryEnd">Criar</button>
            </div>
        </div>

        <a *ngFor="let trip of itineraries" [routerLink]="['/itinerario', trip.id]" class="card trip-card">
            <div class="card-image">
                <div class="placeholder-bg"></div>
            </div>
            <div class="card-content">
                <h3>{{ trip.name }}</h3>
                <span class="go-link" *ngIf="trip.startDate && trip.endDate"
                    style="color: #6b7280; font-size: 0.8rem; display: block; margin-bottom: 8px;">
                    {{ trip.startDate | date:'dd/MM/yyyy' }} - {{ trip.endDate | date:'dd/MM/yyyy' }}
                </span>
                <span class="go-link">Abrir Viagem &rarr;</span>
            </div>
        </a>
    </main>
</div>