<div class="dashboard-container">
    <header class="dash-header">
        <a routerLink="/"
            style="display:inline-block; margin-bottom: 16px; text-decoration: none; color: #4f46e5; font-weight: 600;">&larr;
            Voltar aos Itinerários</a>
        <h1>{{ itineraryName }}</h1>
        <p>Que países vais visitar nesta viagem e em que datas?</p>
    </header>

    <main class="grid-container">
        <div class="card add-card" (click)="toggleAddForm()" *ngIf="!showAddForm">
            <span class="icon">+</span>
            <h3>Adicionar País</h3>
        </div>

        <div class="card form-card" *ngIf="showAddForm">

            <div class="custom-input-group">
                <span class="input-icon">✈️</span>
                <input type="text" [(ngModel)]="newCountryName" placeholder="Ex: Itália, Japão"
                    (keyup.enter)="createCountry()" autofocus>
            </div>

            <div class="custom-dates-group">
                <div class="date-field">
                    <label>🛫 INÍCIO</label>
                    <div class="date-wrapper">
                        <input type="date" [(ngModel)]="newCountryStart">
                    </div>
                </div>
                <div class="date-field">
                    <label>🛬 FIM</label>
                    <div class="date-wrapper">
                        <input type="date" [(ngModel)]="newCountryEnd">
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button class="btn-cancel" (click)="toggleAddForm()">Cancelar</button>
                <button class="btn-save" (click)="createCountry()"
                    [disabled]="newCountryName.length < 2 || !newCountryStart || !newCountryEnd">Criar</button>
            </div>
        </div>

        <a *ngFor="let country of countries" [routerLink]="['/itinerario', itineraryId, 'pais', country.id]"
            class="card trip-card">
            <div class="card-image">
                <div class="placeholder-bg"></div>
            </div>
            <div class="card-content">
                <h3>{{ country.name }}</h3>
                <span class="go-link" *ngIf="country.startDate && country.endDate"
                    style="color: #6b7280; font-size: 0.8rem; display: block; margin-bottom: 8px;">
                    {{ country.startDate | date:'dd/MM/yyyy' }} - {{ country.endDate | date:'dd/MM/yyyy' }}
                </span>
                <span class="go-link">Ver Cidades &rarr;</span>
            </div>
        </a>
    </main>
</div>