<div class="dashboard-container">
    <header class="dash-header">
        <a [routerLink]="['/itinerario', itineraryId]"
            style="display:inline-block; margin-bottom: 16px; text-decoration: none; color: #4f46e5; font-weight: 600;">&larr;
            Voltar aos Países</a>
        <h1>Cidades em {{ countryName }}</h1>
        <p>Quais as cidades que vais explorar e em que datas?</p>
    </header>

    <main class="grid-container">
        <div class="card add-card" (click)="toggleAddForm()" *ngIf="!showAddForm">
            <span class="icon">+</span>
            <h3>Adicionar Cidade</h3>
        </div>

        <div class="card form-card" *ngIf="showAddForm">

            <div class="custom-input-group">
                <span class="input-icon">✈️</span>
                <input type="text" [(ngModel)]="newCityName" placeholder="Ex: Roma, Tóquio" (keyup.enter)="createCity()"
                    autofocus>
            </div>

            <div class="custom-dates-group">
                <div class="date-field">
                    <label>🛫 Início</label>
                    <div class="date-wrapper">
                        <input type="date" [(ngModel)]="newCityStart">
                    </div>
                </div>
                <div class="date-field">
                    <label>🛬 Fim</label>
                    <div class="date-wrapper">
                        <input type="date" [(ngModel)]="newCityEnd">
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button class="btn-cancel" (click)="toggleAddForm()">Cancelar</button>
                <button class="btn-save" (click)="createCity()"
                    [disabled]="newCityName.length < 2 || !newCityStart || !newCityEnd">Criar</button>
            </div>
        </div>

        <a *ngFor="let city of cities" [routerLink]="['/itinerario', itineraryId, 'pais', countryId, 'cidade', city.id]"
            class="card trip-card">
            <div class="card-image">
                <div class="placeholder-bg"></div>
            </div>
            <div class="card-content">
                <h3>{{ city.name }}</h3>
                <span class="go-link" *ngIf="city.startDate && city.endDate"
                    style="color: #6b7280; font-size: 0.8rem; display: block; margin-bottom: 8px;">
                    {{ city.startDate | date:'dd/MM' }} - {{ city.endDate | date:'dd/MM' }}
                </span>
                <span class="go-link">Abrir Planeador &rarr;</span>
            </div>
        </a>
    </main>
</div>